#resume {

  .paper {
    padding: 3em 1em 1em 1em;
    background: url("/images/white.png") repeat scroll 0 0 $white;
    border: 2px solid $gray_light;
    @include border-radius("0.2em");
    font-family: Marvel,sans-serif;
    position: relative;

    #clip {
      background: url("/images/paperclip.png") no-repeat scroll 0 0 transparent;
      width: 82px;
      height: 68px;
      position: absolute;
      top: -16px;
      left: -15px;
    }

    p {
      margin-bottom: 1em;
      line-height: 1.3em;
      font-size: 1.3em;
      text-align: justify;
    }

    em {
      color: $red;
      font-style: normal;
      white-space: nowrap;
    }

  }

}