#resume {

  .markdown {
    padding: 1em;
    background-color: $white;
    border: 2px solid $gray_light;
    @include border-radius("0.2em");
    font-family: Marvel,sans-serif;

    p {
      margin-bottom: 1em;
      line-height: 1.3em;
      font-size: 1.3em;
      text-align: justify;
    }

    em {
      color: $red;
      font-style: normal;
      white-space: nowrap;
    }

  }

}