#switch {

  .label {
    font-size: 0.55em;
    margin: 0.5em 0;
    color: $gray_light;
  }
  
  .buttons {
    font-size: 0.65em;
    float: left;
    margin: 0;
    padding: 0;
    @include border-radius(0.2em);
    
    &:hover {
      @include box-shadow("0 0 0.5em 0 #{$gray}");
    }
    
    .button {
      display: block;
      float: left;
      padding: 0.2em 0.4em;
      line-height: 1em;
      background-color: $gray_light;
      color: $black;
      font-size: 0.75em;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;

      &.first {
        @include border-radius("0.2em 0 0 0.2em");
      }
      &.middle, &.last {
        border-left: 1px solid $black;
      }
      &.last {
        @include border-radius("0 0.2em 0.2em 0");
      }
      
      &.active, &:active {
        color: #fff;
        background: url("/images/red.png") repeat scroll 0 0 $red;
      }
    }
    
  }
  
}
