{{define "beer"-}}
<svg
     version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     viewbox="0 0 500 750">
  <path d="
    M 150 140
    c 25 -25 50 -30 100 -30
    c 50 0 70 5 100 30
    c -25 25 -50 30 -100 30
    c -50 0 -70 -5 -100 -30
  " />
  <path d="
    M 350 140
    c 15 15 15 75 10 100
    c 0 70 -50 170 -50 270
    c 0 60 20 50 20 100
    c 0 30 -50 30 -80 30
    c -30 0 -80 0 -80 -30
    c 0 -50 20 -40 20 -100
    c 0 -170 -50 -200 -50 -270
    c -5 -25 -5 -85 10 -100
  " />
</svg>
<style>
  body {
    background: #F6EC82;
    overflow: hidden;
  }

  svg {
    height: 100vh;
    width: auto;
  }

  svg path {
    stroke: #ffffff;
    stroke-width: 2%;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
  }
</style>
{{-end}}