$colorWhite:  #FFFFFF;
$colorLight:  #FAFAFA;
$colorNormal: #D1D1D1;
$colorDark:   #9B9B9B;
$colorBlack:  #4A4A4A;

$animation-time: 0.3s;

@mixin flexible($justify-content) {
  display: -webkit-flex;
  display:  -ms-flexbox;
  display:     -moz-box;
  display:         flex;
  -webkit-align-items: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: $justify-content;
     -moz-justify-content: $justify-content;
      -ms-justify-content: $justify-content;
          justify-content: $justify-content;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  @include flexible(center);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: $colorLight;
}

#card {
  height: 90vh;
  width: 50vh;
  overflow: hidden;

  background-color: $colorWhite;
  color: $colorBlack;
  border-radius: 0.6vh;
  box-shadow: 2vh 3vh 17vh -4vh rgba(0,0,0,0.40);
}

// fullscreen card
@media (max-aspect-ratio: 3/4) {
  #card {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

#cover {
  height: 25vh;
  background-image: url(images/me.png);
  background-size: cover;
}

header {
  text-transform: uppercase;
  text-align: center;

  .person__job {
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    font-size: 2.5vh;
    color: $colorDark;

    &:before,
    &:after {
      content: "\2014";
      margin: 0.5em;
    }
  }

  .person__name {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 5vh;
    color: $colorBlack;
    font-weight: 300;
  }
}

#socials {
  width: 50%;
  margin: 0 auto;
  font-size: 3vh;

  ul {
    @include flexible(space-between);
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
    text-align: center;

    text-decoration: none;
    color: $colorBlack;
    border-radius: 50%;

    transition: all $animation-time ease;
    transition-delay: 0;

    &:hover {
      background-color: $colorBlack;
      color: $colorWhite;
    }
  }

  .label {
    display: none;
  }

  .icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    &.twitter::before { font-size: 3vh; content: ""; }
    &.github::before  { font-size: 3vh; content: ""; }
    &.mail::before    { font-size: 2.5vh; content: ""; }
    &.xing::before    { font-size: 2.5vh; content: ""; }
  }
}

#introduction {
  .introduction__text {
      width: 50%;
      margin: 5vh auto;
      padding: 3vh 0 4vh 0;
      border-top: 2px solid $colorNormal;
      border-bottom: 2px solid $colorNormal;
      text-align: center;
      line-height: 5vh;
  }
  .introduction__text--hamburg  { font-size: 2.05vh; }
  .introduction__text--software { font-size: 1.95vh; }
  .introduction__text--happy    { font-size: 3.45vh; }

  .introduction__more {
    display: block;
    width: 15vh;
    margin: 0 auto;
    padding: 1vh;

    border: 2px solid $colorDark;
    border-radius: 0.3vh;

    font-size: 2vh;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: $colorDark;

    transition: all $animation-time ease;
    transition-delay: 0;

    &:hover {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }
}

#description {
  display: none;

  background-color: green;
  // height: 50%;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
