%h2= name

%p.immer
  Ich bin immer zu erreichen
%p.urlaub
  … außer im Urlaub vielleicht mal nicht sofort!

%ul
  %li
    %a(href="https://www.xing.com/profile/Bernd_Juenger" target="_blank" alt="Xing" title="Xing") x
  %li
    %a(href="http://de.linkedin.com/in/bjuenger" target="_blank" alt="LinkedIn" title="LinkedIn") i
  %li
    %a(href="mailto:bernd.juenger/AT/gmail/DOT/com" target="_blank" alt="Email" title="Email") @
