{{define "content"-}}

<div id="card" itemscope itemtype="http://schema.org/Person">

  <div id="cover">
    <img class="image" src="images/me.png" alt="Bernd Jünger">
  </div>

  <header>
    <p class="person__job" itemprop="jobTitle">Developer</p>
    <h1 class="person__name" itemprop="name">Bernd Jünger</h1>
  </header>

  <div id="socials">
    <ul>
      <li>
        <a class="icon twitter" href="https://www.twitter.com/blindgaenger" title="twitter profile">
          <span class="label">Twitter</span>
        </a>
      </li>
      <li>
        <a class="icon github" href="https://github.com/blindgaenger" title="github profile">
          <span class="label">Github</span>
        </a>
      </li>
      <li>
        <a class="icon mail" href="mailto:mail@bjuenger.de" title="mail address">
          <span class="label">Mail</span>
        </a>
      </li>
      <li>
        <a class="icon xing" href="https://www.xing.com/profile/Bernd_Juenger" title="xing profile">
          <span class="label">Xing</span>
        </a>
      </li>
    </ul>
  </div>

  <div id="introduction">
    <div class="introduction__text">
      <p class="introduction__text--hamburg">Currently living in Hamburg</p>
      <p class="introduction__text--software">Front &amp; back end for the web</p>
      <p class="introduction__text--happy">Happy to be me!</p>
    </div>
    <a  class="introduction__more" href="#description">READ MORE</a>
  </div>

  <div id="description" itemprop="description">
    <p>FOO</p>
    <p>BAR</p>
    <p>QUX</p>
  </div>

</div>
{{-end}}
