!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Bernd Jünger
    %meta(name="description" content="Die Homepage von Bernd Jünger")
    %meta(name="author" content="Bernd Jünger, bjuenger, blindgaenger")
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    %link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lobster')
    - if production?
      %link(rel='stylesheet' href='assets/all.css')
    - else
      %link(rel='stylesheet' href='stylesheets/reset.css')
      %link(rel='stylesheet' href='stylesheets/layout.css')
      %link(rel='stylesheet' href='stylesheets/style.css')
    
  %body

    #container

      #content
        = haml :section, :locals => { :id => 'intro', :name => 'Intro' }
        = haml :section, :locals => { :id => 'resume', :name => 'Lebenslauf' }

      #icon
        #paper

      #navigation
        %nav
          %ul
            = yield_content :navigation
          #switch
            %p.label Turn the lights off?
            .buttons
              %a.button.first.active(href='#') On
              %a.button.last(href='http://blindgaenger.net/') Off

    - if production?
      %script(src='assets/all.js')
      = haml :tracking, :locals => { :id => '132563' }
    - else
      %script(src='javascripts/jquery.js')
      %script(src='javascripts/jquery.anchor.js')
      %script(src='javascripts/jquery.viewport.js')
      %script(src='javascripts/jquery.current.js')
      %script(src='javascripts/raphael.js')
      %script(src='javascripts/jquery.icons.js')
      %script(src='javascripts/application.js')
