{{define "content"-}}
<div class="card" itemscope itemtype="http://schema.org/Person">

  <header class="person">
    <div class="person__image"></div>
    <p class="person__job" itemprop="jobTitle">Developer</p>
    <h1 class="person__name" itemprop="name">Bernd Jünger</h1>
  </header>

  <main>
    <section class="social">
      <ul>
        <li>
          <a class="social__link social__link--twitter" href="https://twitter.com/blindgaenger" title="twitter profile">
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a class="social__link social__link--github" href="https://github.com/blindgaenger" title="github profile">
            <span>Github</span>
          </a>
        </li>
        <li>
          <a class="social__link social__link--xing" href="https://www.xing.com/profile/Bernd_Juenger" title="xing profile">
            <span>XING</span>
          </a>
        </li>
      </ul>
    </section>

    <section class="intro" itemprop="description">
      <p class="intro__hamburg">Currently living in Hamburg</p>
      <p class="intro__web">Front &amp; back end for the web</p>
      <p class="intro__happy">Happy to be me!</p>
    </section>

    <section class="about">
      <p>Löse Probleme gerne mit Software, baue also Anwendungen, schiele öfter mal in Richtung Web-Design, aber meistens schreibe und teste ich Code und setze das Ganze auf einem Server auf.</p>
      <p>Habe Informatik in Karlsruhe studiert, danach viel Erfahrung im E-Commerce Shopping Bereich gesammelt, später auch in einem Hamburger Startup und bin jetzt bei einem Agilen Dienstleister.</p>
      <p>Mag die Analyse von Workflows und die Konzeption von Software-Systemen, habe kleinere Teams angeleitet, aber zuviele Diplomarbeiten betreut.</p>
      <p>Liebe Ruby mit und ohne Rails, habe früher viel Java getrunken, und bin begeistert was gerade mit Javascript passiert.</p>
      <p>Notiere alles in Markdown, versioniere noch mehr mit Git, kann nicht ohne meine ZSH leben und bin momentan mit Sublime Text 2 zufrieden.</p>
      <p>Bastel ein paar Dinge in meiner Freizeit, bin aber trotzdem gerne mal Offline unterwegs.</p>
    </section>
  </main>

  <footer>
    <div class="seeyou"></div>
  </footer>

</div>
{{-end}}
