%h1
  .bernd bernd
  .juenger jünger

%hr

%p.hamburg Lebt momentan in Hamburg
%p.ruby Entwickelt Software in Ruby
%p.avocado Arbeitet gerade am Avocado Store
%p.mindmatters Jetzt neu bei mindmatters
