%h2= name

.paper
  #clip
  :markdown

    Löse Probleme gerne mit *Software*,
    baue also *Anwendungen*,
    schiele öfter mal in Richtung *Web-Design*,
    aber meistens schreibe und teste ich *Code*
    und setze das Ganze auf einem *Server* auf.

    Habe *Informatik* in Karlsruhe studiert,
    danach viel Erfahrung im *E-Commerce Shopping* Bereich gesammelt,
    später auch in einem Hamburger *Startup*
    und bin jetzt bei einem *Agilen Dienstleister*.

    Mag die *Analyse* von Workflows
    und die *Konzeption* von Software-Systemen,
    habe kleinere *Teams* angeleitet,
    aber zuviele *Diplomarbeiten* betreut.

    Liebe *Ruby* mit und ohne *Rails*,
    habe früher viel *Java* getrunken,
    und bin begeistert was gerade mit *Javascript* passiert.

    Notiere alles in *Markdown*,
    versioniere noch mehr mit *Git*,
    kann nicht ohne meine *ZSH* leben
    und bin momentan mit *Sublime Text 2* zufrieden.

    Bastel ein paar Dinge in meiner *Freizeit*,
    bin aber trotzdem gerne mal *Offline* unterwegs.
