%h2 Résumé

.markdown
  :markdown

    Löse Probleme gerne mit *Software*,
    baue also *Anwendungen*,
    schiele öfter mal in Richtung *Web-Design*,
    aber meistens schreibe und teste ich *Code*
    und setze das Ganze auf einem *Server* auf.

    Habe *Informatik* in Karlsruhe studiert,
    danach viel Erfahrung im *E-Commerce Shopping* Bereich gesammelt,
    später auch in einem Hamburger *Startup*
    und bin jetzt bei einem *Agilen Dienstleister*.

    Mag die *Analyse* von Workflows
    und die *Konzeption* von Software-Systemen,
    habe dazu kleinere *Teams* angeleitet,
    aber zuviele *Diplomarbeiten* betreut.

    Liebe *Ruby* mit und ohne *Rails*,
    habe früher viel *Java* getrunken,
    und bin gerade sehr von *Javascript* angetan.

    Notiere alles in *Markdown*,
    versioniere noch mehr mit *Git*,
    kann nicht ohne meine *ZSH*
    und momentan mit *Sublime Text 2* zufrieden.

    Bastel auch Dinge in meiner *Freizeit*,
    bin aber trotzdem auch gerne mal *Offline* unterwegs.
