%h2 Résumé

.markdown
  :markdown

    Habe *Informatik* in Karlsruhe studiert,
    danach viel Erfahrung im *E-Commerce Shopping* Bereich gesammelt,
    später auch in einem Hamburger *Startup*
    und bin jetzt bei einem *Agilen Dienstleister*.

    Bin gut in der Analyse von redaktionellen *Workflows*
    und der *Konzeption* von Benutzeroberflächen,
    habe kleinere *Teams* angeleitet,
    aber zuviele *Diplomarbeiten* betreut.

    Baue gerne *Anwendungen*,
    schiele dabei öfter mal in Richtung *Web-Design*,
    aber meistens schreibe und teste ich *Code*
    und setze das Ganze auf einem *Server* auf.

    Liebe *Ruby* auch ohne *Rails*,
    habe früher viel *Java* getrunken,
    und bin begeistert was gerade mit *Javascript* passiert.

    Notiere alles in *Markdown*,
    versioniere noch mehr mit *Git*,
    kann nicht ohne meine *ZSH*
    und momentan mit *Sublime Text 2* zufrieden.

    Löse also Probleme gerne mit *Software*,
    bin aber trotzdem auch *Offline* unterwegs.
