%h2 Résumé

%p
%p Informatik Studium in Karlsruhe

/%p Rails-Entwickler mit E-Commerce Erfahrung

%p Software-Entwickler in Ruby und Java
%p Über Fünf Jahre Berufserfahrung in Content-Verarbeitung und ETL-Prozessen, vorwiegend im E-Commerce Shopping-Bereich
%p Entwicklung und Administration von Ruby on Rails und J2EE Anwendungend
%p Großes Interesse an aktuellen Web-Technologien und Programmiersprachen
%p Fachkenntnisse im Aufbau von Produkt-Suchen mit Apache Lucene
%p Drei Jahre Erfahrung in der Analyse von redaktionellen Workflows und Entwurf von Benutzeroberflächen in SWT/RCP
%p Erfahrung im Design von relationalen Datenbanken und gute SQL-Kenntnisse
%p Sehr gutes Verständnis von Code-Qualität, testgetriebener Entwicklung, Continuous Integration und Refactoring
%p Technische Leitung von kleinen Entwickler-Teams und Betreuung von Diplomarbeiten
%p Abgeschlossenes Informatik-Studium mit den Schwerpunkten Software-Design und Automatisierung
%p Verhandlungssicheres Englisch in Wort und Schrift


/
  E-Commerce
  Marktplatz
  Produktsuche
  Preisvergleich

  WebApps
  Ruby On Rails
  J2EE


  pangora

  mentasys

  Studium
  Informatik

/
  %p Fünf Jahre Berufserfahrung in Content-Verarbeitung und ETL-Prozessen, vorwiegend im E-Commerce Shopping-Bereich
  %p Entwicklung und Administration von Ruby on Rails und J2EE Anwendungend
  %p Großes Interesse an aktuellen Web-Technologien und Programmiersprachen
  %p Fachkenntnisse im Aufbau von Produkt-Suchen mit Apache Lucene
  %p Drei Jahre Erfahrung in der Analyse von redaktionellen Workflows und Entwurf von Benutzeroberflächen in SWT/RCP
  %p Erfahrung im Design von relationalen Datenbanken und gute SQL-Kenntnisse
  %p Sehr gutes Verständnis von Code-Qualität, testgetriebener Entwicklung, Continuous Integration und Refactoring
  %p Technische Leitung von kleinen Entwickler-Teams und Betreuung von Diplomarbeiten
  %p Abgeschlossenes Informatik-Studium mit den Schwerpunkten Software-Design und Automatisierung
  %p Verhandlungssicheres Englisch in Wort und Schrift

/
  %ul
    %li Software-Entwickler mit Fachwissen in Java und Fähigkeiten in Ruby
    %li Fünf Jahre Berufserfahrung in Content-Verarbeitung und ETL-Prozessen, vorwiegend im E-Commerce Shopping-Bereich
    %li Entwicklung und Administration von J2EE und Ruby on Rails Anwendung
    %li Großes Interesse an aktuellen Web-Technologien und Programmiersprachen
    %li Fachkenntnisse im Aufbau von Produkt-Suchen mit Apache Lucene
    %li Drei Jahre Erfahrung in der Analyse von redaktionellen Workflows und Entwurf von Benutzeroberflächen in SWT/RCP
    %li Erfahrung im Design von relationalen Datenbanken und gute SQL-Kenntnisse
    %li Sehr gutes Verständnis von Code-Qualität, testgetriebener Entwicklung, Continuous Integration und Refactoring
    %li Technische Leitung von kleinen Entwickler-Teams und Betreuung von Diplomarbeiten
    %li Abgeschlossenes Informatik-Studium mit den Schwerpunkten Software-Design und Automatisierung
    %li Verhandlungssicheres Englisch in Wort und Schrift

  %hr

  %h3 Sprachen:
  %p Java, Ruby, Groovy, C/C++, SQL, XML, HTML, CSS, JavaScript

  %h3 Frameworks/APIs:
  %p J2EE (Servlet, JSP, JAXB, JDBC, JPA), Eclipse RCP, Spring, Hibernate, Apache Lucene, Ruby on Rails, Sinatra, HTTP/REST, SOAP, XSLT, HAML/SASS, JUnit, PowerMock, RSpec, Cucumber

  %h3 Werkzeuge:
  %p Eclipse, Vim, Shell, Maven, Rake, ANT, Git, SVN, Hudson, Capistrano, Tomcat, MySQL, Oracle, Firebug

  %h3 Erfahrungen mit:
  %p AJAX, jQuery, iUI, RDF, Microformats, OAuth, OLAP, Grails, Struts, Android, CouchDB, Google App Engine, Scala, JRuby