@import "globals.css.scss";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  @include flexible(center);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url("images/grid.png") $colorLight;
}

@import "card.css.scss";
