html {
  font-size: 2vh; // relative to height
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url("images/grid.png") $colorLight;
  color: $colorBlack;
}

////////////////////////////////////////

.card {
  width: $cardWidth;
  overflow: hidden;
  margin: 5vh auto;

  background-color: $colorWhite;
  border-radius: 0.6vh;
  box-shadow: 2vh 3vh 17vh -4vh rgba(0,0,0,0.40);
}

////////////////////////////////////////

.person {
  text-align: center;
  text-transform: uppercase;

  &__job {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    color: $colorDark;

    // dashes before and after
    &:before,
    &:after {
      content: "\2014";
      margin: 0.5rem;
    }
  }

  &__name {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: $colorBlack;
  }
}

////////////////////////////////////////

// fullscreen card
@media (max-aspect-ratio: 3/4) {
  html {
    font-size: 4vw; // relative to width
  }

  .card {
    width: auto;
    min-height: 100%;
    margin: 0;
    border-radius: 0;
  }
}
