$color-white:  #FFFFFF;
$color-light:  #FAFAFA;
$color-normal: #D1D1D1;
$color-dark:   #9B9B9B;
$color-black:  #4A4A4A;

$view-width: 100vw; // just to have it named
$card-width: 65vh;  // relative to the height
