$colorWhite:  #FFFFFF;
$colorLight:  #FAFAFA;
$colorNormal: #D1D1D1;
$colorDark:   #9B9B9B;
$colorBlack:  #4A4A4A;

$viewWidth: 100vw; // just to have it named
$cardWidth: 65vh;  // relative to the height
