{{define "base"-}}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{.Params.title}}</title>

    <meta name="description" content="{{.Params.description}}">
    <meta name="keywords" content="{{.Params.keywords}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{.Params.baseUrl}}">
    <meta property="og:title" content="{{.Params.title}}">
    <meta property="og:description" content="{{.Params.description}}">
    <meta property="og:image" content="{{.Params.baseUrl}}/images/me.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@blindgaenger">
    <meta name="twitter:title" content="{{.Params.title}}">
    <meta name="twitter:description" content="{{.Params.description}}">

    <link rel="stylesheet" href="/app.css">
    <link rel="canonical" href="{{.Params.baseUrl}}">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel='apple-touch-icon-precomposed' href='/apple-touch-icon-precomposed.png' sizes="180x180">
  </head>
  <body>
    {{template "content" .}}
  </body>
</html>
{{-end}}
