{{define "base"-}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Params.title}}</title>
    <meta name="description" content="{{.Params.description}}">
    <meta name="keywords" content="{{.Params.keywords}}">
    <meta name="viewport" content="initial-scale=1">

    <link rel="stylesheet prefetch" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet prefetch" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">

    <link rel="canonical" href="{{.Params.baseUrl}}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {{template "content" .}}
  </body>
</html>
{{-end}}
